@import url("https://fonts.googleapis.com/css2?family=Changa:wght@300;500;700&display=swap");

* {
  font-family: "Changa", cursive;
  font-size: 28px;
}

input {
  height: 80px;
  width: 252px;
  border: 0px;
  text-align: right;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: rgba(158, 158, 158, 0.296);
  color: #ffffff;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 256px;
  text-align: center;
  border: 20px solid #101116;
  background: #101116;
  border-radius: 20px;
}

.all-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(60px, auto);
}

button {
  margin: 5px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  font-weight: 500;
  /* background-color: rgba(113, 156, 250, 0.44); */
  background: rgb(31, 167, 216);
  background: linear-gradient(
    0deg,
    rgb(77, 120, 163) 0%,
    rgba(0, 0, 0, 0.6) 135%
  );
}

.op-buttons {
  /* background-color: rgba(146, 181, 255, 0.748); */
  background: rgb(31, 167, 216);
  background: linear-gradient(
    0deg,
    rgb(160, 208, 255) 0%,
    rgba(0, 0, 0, 0.6) 135%
  );
}

#ac,
#del {
  color: rgb(0, 0, 0);
}

button:active {
  outline: none;
  background: rgb(217, 217, 217);
  background: linear-gradient(
    0deg,
    rgb(217, 217, 217) 0%,
    rgba(0, 0, 0, 0.6) 150%
  );
}
